
{% extends 'base.html' %}

{% block mainblock %}


<div class=" jumbotron mt-5">
    <div class="navi mt-3">
        <ul class="breadcrumb">
            <li class="breadcrumb-item mt-2"><a href="/app/index">Home</a></li>
        
            <li class="breadcrumb-item">About</li>
          </ul>
    </div>
    <h2 class="text-danger" >About</h2>
    <table class="table table-stripped mt-3 dtbl">
        <tr class="text-dark">
            <th>Created by : </th>
            <td>Srajan Soni</td>
        </tr>
        <tr><th>Email: </th>
            <td>Srajansoni400@gmail.com</td></tr>
        <tr>    <th>Contact:  </th>
            <td>8357874055</td></tr>
        <tr><th> Visit profile :  </th>
            <td><a href="https://www.linkedin.com/in/srajan-soni-4b49601a4/">https://www.linkedin.com/in/srajan-soni-4b49601a4/</a></td></tr>
            
        </tr>
    </table>


</div>


{% endblock %}